.grid {
    display: grid;
    gap: var(--spacing-6);
    grid-template-columns: 200px 1fr 200px;
  }
  
  @media (max-width: 64rem) {
    .grid {
      display: flex;
      flex-direction: column;
      margin-inline: auto;
    }
  
    .grid > * {
      margin-inline: auto;
    }
    /* .index {
      position: fixed !important;
      top: 0;
      left: 0;
    } */
    /* hide childrens */
  }