.container--flex {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    /*gap: ;*/
  }
  .faq-section {
     padding: var(--spacing-24) 0;
  }
  
  .faq-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: center;
    max-width: 90rem;
  }
  .faq-content--left {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
    align-items: flex-start;
    max-width: 52rem;
    margin-inline: auto;
    /* align-items: center; */
  }
  
  .faq-content h2 {
    color: var(--foreground, #171717);
    text-align: center;
    /* display-4xl/leading-none/semibold */
    font-family: var(--display);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem; /* 100% */
  }
  
  .faq__title {
    color: var(--foreground);
  /* display-4xl/leading-none/semibold */
    font-family: Familjen Grotesk;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem; /* 100% */
  }
  .font-1 {
    font-size: 1rem;
  }
  .members__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    gap: var(--spacing-16);
  
  }
  
  .members__list li {
    display: grid;
    min-width: 16rem;
    align-items: center;
    gap: var(--spacing-6)
  }
  
  .member__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .member__img {
    margin-inline: auto;
  
  }
  .member__socials {
    display: flex;
    align-items: center;
    gap: var(--spacing-6);
    justify-content: center;
  }  
  
  .socials__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--muted);
  
    border-radius: 50%;
  }
  .member__socials svg path{
    stroke: var(--muted-foreground);
    
  
  }
  .member__avatar {
    align-self: center;
    width: 14rem;
    height: 14rem;
    object-fit: cover;
  
    border-radius: 50%;
    flex-shrink: 0;
    /* margin-inline: auto; */
  }