:root {
    --container-padding: 1rem;
    --foreground: hsl(0, 0%, 9%);
    --muted-foreground: hsl(0, 0%, 32%);
    --spacing-2: 8px;
    --spacing-4: 16px;
  }
  
  .index{
    flex-direction: column;    
    background: hsl(0, 0%, 100%);
  }
   .container {
    display: flex;
    padding: 0 var(--container-padding);
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 378px 80px; 
  }
 .logo-1 {
    display: flex;
    width: 268.8px;
    height: 64px;
    padding: 6.4px 4.575px 6.4px 3.2px;
    justify-content: center;
    align-items: center;
  }
 .title-1, .title-2, .title-3 {
    text-align: center;
    font-family: Inter;
    align-self: stretch;
  }
  .title-1 {
    color: var(--foreground);
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    height: var(--spacing-2);
  }
  .title-2 {
    color: var(--muted-foreground);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    height: var(--spacing-2);
  }
  .title-3 {
    color: var(--muted-foreground);
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    height: var(--spacing-4);
  }
  .link-1, .link-2 {
    display: flex;
    align-self: stretch;
    justify-content: center;
    text-decoration: none;
    color: var(--foreground, hsl(0, 0%, 9%));
    transition: color 0.5s;
  }
  .link-1 {
    align-items: flex-start;
    gap: var(--spacing-4);
    transition: color 0.5s;
  }
  .link-2 {
    padding: var(--spacing-2) var(--spacing-3, 12px);
    align-items: center;
    transition: color 0.5s;
  }
.colors{
  background-color: var(--background-active, #f0e7f1);  
  transition: color 0.5s;
  border-radius: 10%;
}
.header_link-1:hover {
  color: hsl(263, 91%, 46%); 
}
.header_link-2:hover {
  color: hsl(263, 91%, 46%); 
}
.link-1:hover {
  color: hsl(263, 91%, 46%); 
}
.link-2:hover {
  color: hsl(263, 91%, 46%); 
}
.fig-Diagrams{
  color: var(--content-captions, #525252);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */

}