body {
    font-family: var(--text);
    color: var(--foreground);
    background-color: var(--background);
    font-size: var(--font-base);
    line-height: var(--leading-6);
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--heading);
  }
  
  code {
    font-family: var(--monospace);
  }
  
  /*hr {
    margin-block: 48px;
    border: none;
    border-top: 1px solid var(--border);
  }*/
  
  :focus {
    outline-offset: 3px;
    outline-color: var(--ring);
    outline-width: 2px;
  }
  
  :target {
    scroll-margin-top: 96px;
  }